!!!!!!!!!!!!
!
! PE Loopback links for OSPF and BGP routing
!
!!!!!!!!!!!!
interface {{ ce_mgmt_int }}
 description Router-ID Loopback
 ip address {{ ce_mgmt_int_container_subnet | ipaddr(hostvars[inventory_hostname].ce_index) | ipaddr('address') }} 255.255.255.255
