
router bgp {{ hostvars[inventory_hostname].bgp_asn }}
 bgp router-id {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[inventory_hostname].pe_index) | ipaddr(10) | ipaddr('address') }}
 bgp cluster-id {{ hostvars[inventory_hostname].bgp_asn }}
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
{% for host in groups['pe'] %}
{% if host != inventory_hostname %}
 neighbor {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[host].pe_index) | ipaddr(10) | ipaddr('address') }} remote-as {{ hostvars[host].bgp_asn }}
 neighbor {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[host].pe_index) | ipaddr(10) | ipaddr('address') }} update-source {{ pe_mgmt_int_global }}
 neighbor {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[host].pe_index) | ipaddr(10) | ipaddr('address') }} timers 10 30
 neighbor {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[host].pe_index) | ipaddr(10) | ipaddr('address') }} description {{ host }}
{% endif %}
{% endfor %}

 address-family vpnv4
{% for host in groups['pe'] %}
{% if host != inventory_hostname %}
  neighbor {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[host].pe_index) | ipaddr(10) | ipaddr('address') }} activate
  neighbor {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[host].pe_index) | ipaddr(10) | ipaddr('address') }} send-community both
{#neighbor {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[host].pe_index) | ipaddr(10) | ipaddr('address') }} send-community extended #}
  neighbor {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[host].pe_index) | ipaddr(10) | ipaddr('address') }} next-hop-self
{#neighbor {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[host].pe_index) | ipaddr(10) | ipaddr('address') }} send-community both #}
{% endif %}
{% endfor %}
 exit-address-family

 address-family ipv4 vrf gWAN
  bgp router-id {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[inventory_hostname].pe_index) | ipaddr(11) | ipaddr('address') }}
{% for link in ce2pe_link_list %}
{% if link.pe_name == inventory_hostname %}
  neighbor {{ ce2pe_container_subnet | ipsubnet(ce2pe_masklength,link.ce2pe_link_index) | ipaddr(2) | ipaddr('address') }} remote-as {{ hostvars[link.ce_name].bgp_asn }}
  neighbor {{ ce2pe_container_subnet | ipsubnet(ce2pe_masklength,link.ce2pe_link_index) | ipaddr(2) | ipaddr('address') }} description {{ link.ce_name }}
  neighbor {{ ce2pe_container_subnet | ipsubnet(ce2pe_masklength,link.ce2pe_link_index) | ipaddr(2) | ipaddr('address') }} soft-reconfiguration inbound
  neighbor {{ ce2pe_container_subnet | ipsubnet(ce2pe_masklength,link.ce2pe_link_index) | ipaddr(2) | ipaddr('address') }} send-community both
  neighbor {{ ce2pe_container_subnet | ipsubnet(ce2pe_masklength,link.ce2pe_link_index) | ipaddr(2) | ipaddr('address') }} activate
{% endif %}
{% endfor %}
 exit-address-family
