!!!!!!!!!!!!
!
! PE Loopback links for OSPF and BGP routing
!
!!!!!!!!!!!!
interface {{ pe_mgmt_int_global }}
 description GlobalTable Loopback
 ip address {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[inventory_hostname].pe_index) | ipaddr(10) | ipaddr('address') }} 255.255.255.255

interface {{ pe_mgmt_int_gwan }}
 description gWAN Loopback
 vrf forwarding gWAN
 ip address {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[inventory_hostname].pe_index) | ipaddr(11) | ipaddr('address') }} 255.255.255.255
