!!!!!!!!!!!!
!
! PE OSPF interface-1
!
!!!!!!!!!!!!
interface {{ hostvars[inventory_hostname].ospf_int1 }}
 description {{ hostvars[inventory_hostname].ospf_int1_descr }}
 mtu {{ pe_ospf_int1_mtu }}
 ip address {{ pe_ospf_int1_ip_subnet | ipaddr(hostvars[inventory_hostname].bgp_community_id) | ipaddr('address') }} {{ pe_ospf_int1_ip_subnet | ipaddr('netmask') }}
 ip ospf network point-to-multipoint
 ip ospf hello-interval {{ pe_ospf_int1_ip_ospf_hello_interval }}
 ip ospf bfd
 mpls ip