!!!
!
! PE OSPF Router
!
!!!

interface {{ g_pe_mgmt_int_global }}
 description GlobalTable Loopback
 ip address {{ g_vrf_gwan_container_subnet | ipsubnet(20, g_pes[inventory_hostname].pe_index) | ipaddr(10) | ipaddr('address') }} 255.255.255.255

router ospf {{ g_ospf_process_id }}
 router-id {{ g_vrf_gwan_container_subnet | ipsubnet(20, g_pes[inventory_hostname].pe_index) | ipaddr(10) | ipaddr('address') }}
 timers throttle spf {{ g_ospf_timers_spf_throttle_1 }} {{ g_ospf_timers_spf_throttle_2 }} {{ g_ospf_timers_spf_throttle_3 }}
 passive-interface default
 no passive-interface {{ g_pes[inventory_hostname].ospf_int1 }}
 network {{ g_ospf_int1_ip_subnet | ipaddr('address') }} 0.0.0.255 area 0
 network {{ g_vrf_gwan_container_subnet | ipsubnet(20, g_pes[inventory_hostname].pe_index) | ipaddr(10) | ipaddr('address') }} 0.0.0.0 area 0
{% for item in g_pes %}
{% if item != inventory_hostname %}
 neighbor {{ g_ospf_int1_ip_subnet | ipaddr(g_pes[item].bgp_community_id) | ipaddr('address') }} cost 10
{% endif %}
{% endfor %}
