!!!!!!!!!!!!
!
! PE OSPF Router
!
!!!!!!!!!!!!
router ospf {{ pe_ospf_process_id }}
 router-id {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[inventory_hostname].pe_index) | ipaddr(10) | ipaddr('address') }}
 timers throttle spf {{ pe_ospf_timers_spf_throttle }}
 passive-interface default
 no passive-interface {{ hostvars[inventory_hostname].ospf_int1 }}
 network {{ pe_ospf_int1_ip_subnet | ipaddr('network') }} 0.0.0.255 area 0
 network {{ pe_vrf_gwan_container_subnet | ipsubnet(20, hostvars[inventory_hostname].pe_index) | ipaddr(10) | ipaddr('address') }} 0.0.0.0 area 0
{% for host in groups['pe'] %}
{% if host != inventory_hostname %}
 neighbor {{ pe_ospf_int1_ip_subnet | ipaddr(hostvars[host].bgp_community_id) | ipaddr('address') }} cost 10
{% endif %}
{% endfor %}
