!!!!!!!!!!!!
!
! PE VRF definitions
!
!!!!!!!!!!!!
vrf definition INET
 rd {{ g_pe_dict[inventory_hostname].bgp_community_id }}:167
 !
 address-family ipv4
  route-target export {{ g_pe_dict[inventory_hostname].bgp_community_id }}:167
  route-target import {{ g_pe_dict[inventory_hostname].bgp_community_id }}:167
 exit-address-family
 !
 address-family ipv6
  route-target export {{ g_pe_dict[inventory_hostname].bgp_community_id }}:167
  route-target import {{ g_pe_dict[inventory_hostname].bgp_community_id }}:167
 exit-address-family
!
vrf definition gWAN
 rd {{ a_gwan_bgp_asn }}:1
 !
 address-family ipv4
  route-target export {{ a_gwan_bgp_asn }}:1
  route-target import {{ a_gwan_bgp_asn }}:1
 exit-address-family